@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.2s ease-out;
}


        /* Controls */

.react-flow__controls {
  background: #333;
  border-radius: 5px;
  padding: 3px 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.react-flow__controls-button {
  color: #FFF !important;
  border: none !important;
  width: 36px;
  height: 36px;
  border-radius: 3px;
  margin: 4px 0;
}

.react-flow__controls-button:hover {
  background: #a3a3a3 !important; /* dark gray */
}




          /* Deletable Button */
.edge-delete-btn {
  opacity: 0.7;
  color: rgb(200, 0, 0);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s;
}


.edge-delete-btn:hover {
  opacity: 1;
  color: red;
  text-shadow: 0.1px 0.1px 2px #777;
}
